{{ define "main" }}
<div class="flex flex-col w-full max-w-4xl lg:max-w-5xl">
  <div class="flex flex-col gap-y-6 p-6 mt-6 mx-2 md:mx-0 rounded-lg shadow-md bg-white dark:bg-gray-700">
    <h1 class="text-4xl font-semibold text-slate-800 dark:text-slate-200">
      People at Posit Open Source
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {{ $peopleSection := site.GetPage "/people" }}
      {{ range $peopleSection.Pages.ByTitle }}
        {{ partial "card_person.html" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
