{{ define "main" }}
<div class="flex flex-col w-full relative mt-6 max-w-7xl mx-auto" data-pagefind-ignore>

  {{ $paginator := .Paginate .RegularPages.ByDate.Reverse }}

  {{ if eq $paginator.PageNumber 1 }}
  {{ with (site.GetPage "/featured/blog").Content }}
  <div data-featured class="prose max-w-none mb-8">
    {{ . }}
  </div>
  {{ end }}
  {{ end }}

  {{ $baseCfg := site.Data.filters.blog }}
  {{ $filters := slice }}
  {{ range $baseCfg.filters }}
    {{ if eq .key "topics" }}
      {{ $filters = $filters | append (merge . (dict "values" site.Data.topics)) }}
    {{ else }}
      {{ $filters = $filters | append . }}
    {{ end }}
  {{ end }}
  {{ $cfg := merge $baseCfg (dict "filters" $filters) }}

  {{ partial "filter-controls.html" $cfg }}

  <div data-item-container data-page-size="{{ $paginator.PagerSize }}" data-filter-config='{{ $cfg | jsonify }}'
       class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {{- range $paginator.Pages -}}
      {{ partial "item.html" (dict "page" . "hide-badge" true) }}
    {{- end -}}
  </div>

  {{ partial "pagination.html" $paginator }}
  {{ partial "item-templates.html" }}
</div>
{{ end }}
