{{ define "main" }}
<div class="flex flex-col w-full relative mt-6 max-w-7xl mx-auto" data-pagefind-ignore>

  {{- $allPosts := .RegularPages -}}

  {{ with (site.GetPage "/featured/blog").Content }}
  <div class="prose max-w-none mb-8">
    {{ . }}
  </div>
  {{ end }}

  {{ $cfg := site.Data.filters.blog }}

  {{ partial "filter-controls.html" $cfg }}

  <div data-item-container data-filter-config='{{ $cfg | jsonify }}'
       class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {{- range $allPosts.ByDate.Reverse -}}
      {{ partial "item.html" (dict "page" . "hide-badge" true) }}
    {{- end -}}
  </div>
</div>
{{ end }}
