{{ define "head" }}
{{ partial "jsonld.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex flex-col mt-6">
  <!-- Hidden Pagefind Image -->
  {{ if .Params.image }}
  {{ $image := .Resources.Get .Params.image }}
  {{ if $image }}
  {{ if ne $image.MediaType.SubType "svg" }}
  {{ $pagefindImg := $image.Fit "128x128" }}
  <img src="{{ $pagefindImg.RelPermalink }}" alt="{{ .Title }}" class="hidden" data-pagefind-meta="image[src]">
  {{ else }}
  <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="hidden" data-pagefind-meta="image[src]">
  {{ end }}
  {{ end }}
  {{ end }}

  <div>
    <a href="{{ .RelPermalink }}">
      {{ partial "block/image.html" . }}
    </a>
  </div>
  <div class="flex flex-col gap-y-3">
    <h1 class="text-4xl font-medium text-gray-500">
      <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
    </h1>

    {{ with .Description }}
    <h2 class="my-4 text-large text-gray-600">
      {{ . | $.Page.RenderString }}
    </h2>
    {{ end }}
    {{ partial "block/taxonomies.html" .}}

    {{ partial "block/time.html" . }}
    {{ partial "block/author.html" . }}

    {{ if or .Params.Toc $.Site.Params.Toc }}
    {{ if ne .Params.Toc false }}
    <section class="prose prose w-full max-w-4xl lg:max-w-5xl mt-6">
      <h2>{{ T "table_of_contents" }}</h2>
      <aside>{{ .TableOfContents }}</aside>
    </section>
    {{ end }}
    {{ end }}

    <article data-pagefind-body
      class="mt-6 w-full max-w-4xl lg:max-w-5xl prose prose prose-quoteless post-content">
      {{ .Content | safeHTML }}
    </article>

    {{ partial "comments.html" . }}

  </div>
</div>
{{ end }}
