{{ $start := .Params.start_date }}
{{ $end   := .Params.end_date }}

{{ if and $start $end (ne $start $end) }}
  {{ $start_day := time.Format "2" $start }}
  {{ $start_month := time.Format "Jan" $start }}
  {{ $start_year := time.Format "2006" $start }}
  {{ $end_day := time.Format "2" $end }}
  {{ $end_month := time.Format "Jan" $end }}
  {{ $end_year := time.Format "2006" $end }}

  {{ if ne $end_year $start_year }}
    {{ $start_month}} {{ $start_day }}, {{ $start_year }} - {{ $end_month }} {{ $end_day }}, {{ $end_year }}
  {{ else }}
      {{ if ne $end_month $start_month }}
          {{ $start_month}} {{ $start_day }} - {{ $end_month }} {{ $end_day }}, {{ $end_year }}
      {{ else }}
          {{ $start_month }} {{ $start_day }}-{{ $end_day }}, {{ $start_year }}
      {{ end }}
  {{end}}
{{ else if $start }}
  {{ time.Format "Jan 2, 2006" $start }}
{{ else if $end }}
  {{ time.Format "Jan 2, 2006" $end }}
{{ end }}
