{{ define "head" }}
  {{ partial "jsonld.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex flex-col mt-6">
    <div>
      {{ partial "block/image.html" . }}
    </div>
    <div class="flex flex-col gap-y-3">
      <h1 class="text-4xl font-medium text-gray-500 dark:text-gray-100">
        {{ .Title | .RenderString }}
      </h1>

      {{ with .Description }}
      <h2 class="my-4 text-large text-gray-600 dark:text-gray-300">
        {{ . | $.Page.RenderString }}
      </h2>
      {{ end }}
      {{ partial "block/taxonomies.html" .}}

      <article class="mt-6 w-full max-w-4xl lg:max-w-5xl prose dark:prose-invert prose-quoteless post-content">
        {{ .Content | safeHTML }}
      </article>

      {{ partial "comments.html" . }}

  </div>
</div>
{{ end }}
