{{ define "main" }}
<div class="flex flex-col w-full max-w-7xl">
  <!-- Hidden Pagefind Image -->
  {{ if .Params.image }}
  {{ $image := .Resources.Get .Params.image }}
  {{ if $image }}
  {{ if ne $image.MediaType.SubType "svg" }}
  {{ $pagefindImg := $image.Fit "128x128" }}
  <img src="{{ $pagefindImg.RelPermalink }}" alt="{{ .Title }}" class="hidden" data-pagefind-meta="image[src]">
  {{ else }}
  <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" class="hidden" data-pagefind-meta="image[src]">
  {{ end }}
  {{ end }}
  {{ end }}

  {{ partial "item.html" (dict "page" . "format" "hero") }}

  {{ if .Content }}
  <div data-pagefind-body class="prose dark:prose-invert max-w-none mt-8 mx-2 md:mx-0">
    {{ .Content }}
  </div>
  {{ end }}

  <!-- People who attended this Event -->
  {{ $people := .GetTerms "people" }}
  {{ if $people }}
  <div class="mt-8 mb-6 mx-2 md:mx-0">
    {{ partial "heading.html" (dict "level" 2 "text" "Attendees" "class" "text-2xl font-medium text-gray-800 dark:text-gray-200 mb-4") }}
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-10 mx-2 md:mx-0 mb-6">
    {{ range $people }}
    {{ partial "item.html" (dict "page" . "hide-badge" true) }}
    {{ end }}
  </div>
  {{ end }}

  <!-- Software featured at this Event -->
  {{ $software := .GetTerms "software" }}
  {{ if $software }}
  <div class="mt-8 mb-6 mx-2 md:mx-0">
    {{ partial "heading.html" (dict "level" 2 "text" "Featured software" "class" "text-2xl font-medium text-gray-800 dark:text-gray-200 mb-4") }}
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-2 md:mx-0 mb-6">
    {{ range $software }}
    {{ partial "item.html" (dict "page" . "hide-badge" true) }}
    {{ end }}
  </div>
  {{ end }}

  <!-- Resources from this Event -->
  {{ $resources := .GetTerms "resources" }}
  {{ if $resources }}
  <div class="mt-8 mb-6 mx-2 md:mx-0">
    {{ partial "heading.html" (dict "level" 2 "text" "Resources from this event" "class" "text-2xl font-medium text-gray-800 dark:text-gray-200 mb-4") }}
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mx-2 md:mx-0 mb-6">
    {{ range $resources }}
    {{ partial "item.html" (dict "page" .) }}
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
