{{- /* Blog-specific time partial with custom styling */ -}}
<div class="flex flex-col gap-y-1 md:flex-row md:gap-y-0 md:gap-x-4 text-gray-500 dark:text-gray-300">
{{- if or .Params.start_date .Params.end_date }}
  {{/* Use date range for events */}}
  <div class="flex flex-row text-base gap-x-1">
    <span>
      {{ partial "block/date_range.html" . }}
    </span>
  </div>
{{- else if .Date }}
  {{/* Use regular date for blog posts with smart formatting */}}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $daysSince := div (sub now.Unix .Date.Unix) 86400 }}
  {{ $dateHuman := "" }}
  {{ if lt $daysSince 365 }}
    {{ $dateHuman = .Date.Format "Jan 2" }}
  {{ else }}
    {{ $dateHuman = .Date.Format "Jan 2, 2006" }}
  {{ end }}
  <div class="flex flex-row text-sm font-semibold font-mono uppercase text-gray-400 gap-x-1">
    <time datetime="{{ $dateMachine }}">
      {{ $dateHuman }}
    </time>
  </div>
{{ end -}}
{{- if $.Site.Params.showReadingTime }}
  <div class="flex flex-row text-sm font-semibold font-mono uppercase text-gray-400 gap-x-1">
    <span>
      {{ T "reading_time" .ReadingTime }}
    </span>
  </div>
{{ end -}}
</div>
